page-list {

}
.nopadding{
   padding:0; 
   margin:0; 
}

.item ion-thumbnail {
    min-width: 4rem;    
    min-height: 4rem;
    img {
        max-width: 4rem;    
        min-width: 4rem;
        min-height: 4rem;    
        max-height: 4rem;
    }
}