<ion-menu [content]="content">
  <ion-header>
    <!--<ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>-->
  </ion-header>

  <ion-content>

    <span *ngIf="currentUser==null">
      <ion-list text-center>
        <br>
        <img src='assets/imgs/profile.png' class="custom-avatar" (tap)="HiddenMenu()">
        <h2>PLEASE SIGN IN</h2>
        <hr>
      </ion-list>
      <button ion-button block icon-start color="blue" (click)="SigninWithFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
         Facebook Sign In
      </button>
      <button ion-button block icon-start color="danger" (click)="SigninWithGoogle()">
        <ion-icon name="logo-google"></ion-icon>
         Google Sign In
      </button>

      <button ion-button block icon-start color="dark" (click)="SigninWithGithub()" *ngIf=Gituser>
        <ion-icon name="logo-github"></ion-icon>
         Github Sign In
      </button>
        <!--<hr>-->
    </span>




    <span *ngIf="currentUser!=null">
      <!--<ion-list text-center>
        <br>
        <img src={{currentUser.photoURL}} class="custom-avatar"/>
        <h2>{{currentUser.displayName}}</h2>
        <hr>
      </ion-list>-->

      <br>
      <label class="item fileContainer">
        <div class="circular--portrait">
          <img src={{currentUser.photoURL}}  *ngIf="currentUser.photoURLCustom64==null">
          <img src={{currentUser.photoURLCustom64}} *ngIf="currentUser.photoURLCustom64!=null">
          <input type="file" name="file" accept="image/*;capture=camera" ngModel (change)="ProfilePic($event)">
        </div>
        <!--<h2 text-center>{{currentUser.displayName}}</h2>-->
      </label>
        <h2 text-center (click)="UpdateName(currentUser.userID,currentUser.displayName)" *ngIf="currentUser.NewName==null">{{currentUser.displayName}}</h2>
        <h2 text-center (click)="UpdateName(currentUser.userID,currentUser.displayName)" *ngIf="currentUser.NewName!=null">{{currentUser.NewName}}</h2>


      <button ion-button block icon-start color="danger" (click)="Signout()">
        <ion-icon name="log-out"></ion-icon>
         SIGN OUT
      </button>
      <hr>



      <!--<ion-list class="nopadding">      
        <button menuClose detail-push ion-button full outline (click)="openRoomPage('DEFAULT ROOM')">
          DEFAULT ROOM
        </button>
      </ion-list>-->


      <ion-list class="nopadding" *ngFor="let room of RoomList">      
        <button menuClose detail-push ion-button full outline (click)="openRoomPage(room.CreateTime)">
          {{room.Name}}
        </button>
      </ion-list>



      <ion-list text-center>      
      <button ion-button round outline menuClose color="secondary" (click)="openCreateRoomPage()">
        + Create Room
      </button>
      </ion-list>

      <hr>

      <button ion-button block icon-start color="danger" (click)="DeleteAllRoom()" *ngIf="adminUser">
         DELETE ALL ROOM
      </button>



    </span>

  </ion-content>

<ion-footer>
     <span  (click)="AdminUser()" > AVALON (version:2.8.6) by Alex Kwok</span>
</ion-footer>


</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>